@model EmployeeAdvance
@{
    ViewData["Title"] = "Advance";
}
@{
    SelectList types = ViewBag.Types;
}

@if (TempData["Warning"] != null)
{
    <div class="alert alert-info m-4">
        <h3>@TempData["Warning"]</h3>
    </div>
}

@if (TempData["Warning1"] != null)
{
    <div class="alert alert-info m-4">
        <h3>@TempData["Warning1"]</h3>
    </div>
}

<h1 class="mx-4">Advance</h1>
<div class="container-xxl flex-grow-1 container-p-y">

    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <form asp-area="Employees" asp-controller="Employee" asp-action="Advance" method="post">
                    <div class="card-body">
                        <div>
                            <div class="mb-3">
                                <label class="form-label">Type:</label>
                                <table class="table table-hover">
                                    <tbody>
                                        @foreach (var type in types)
                                        {
                                            <tr>
                                                <td>@type.Text</td>
                                                <td><input type="radio" asp-for="Type" value="@type.Value" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <label asp-for="Description" id="defaultFormcontrolInput" class="form-label">Description:</label>
                            <textarea asp-for="Description" type="text" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        @*<div>
                        <label asp-for="RequestDate" id="defaultFormcontrolInput" class="form-label">Request Date:</label>
                        <input asp-for="RequestDate" type="date" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="RequestDate" class="text-danger"></span>
                        </div>*@
                        @*<div>
                        <label asp-for="ReplyDate" id="defaultFormcontrolInput" class="form-label">Reply Date:</label>
                        <input asp-for="ReplyDate" type="date" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                        <span asp-validation-for="ReplyDate" class="text-danger"></span>
                        </div>*@
                        <div>
                            <label asp-for="Amount" id="defaultFormcontrolInput" class="form-label">Amount:</label>
                            <input asp-for="Amount" type="number" class="form-control mb-3" id="defaultFormControlInput" aria-describedby="defaultFormControlHelp">
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <div>
                            <select placeholder="Select currency" class="form-select mb-3" asp-for="Currency">
                                <option value="0">₺</option>
                                <option value="1">$</option>
                            </select>
                        </div>
                        <div class="form-group float-end">
                            <button type="submit" class="btn btn-primary btn-block">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>